<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1>Home Page!!!:</h1>

<script>
    document.getElementById('example-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Empêche l'envoi du formulaire

        // Récupère les valeurs des champs du formulaire
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const message = document.getElementById('message').value;

         fetch('/submit', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json'
             },
             body: JSON.stringify({ name, email, message })
         })
         .then(response => response.json())
         .then(data => document.getElementById('form-response').textContent = data.message)
         .catch(error => console.error('Error:', error));
    });
</script>

</body>
</html>
